/db/
/node_modules/
/build/
.DS_Store
*.log
src/server/static/client.js
.vscode/
server/server
*~
.tmp/
coverage/
server/test/diagram.aux
server/test/diagram.log
server/test/diagram.pdf
server/test/diagram.fls
server/test/diagram.synctex*
server/test/diagram.fdb_latexmk
server/feynman