% this file describes the basic latex file that is used by the interpretter at alec.aivazis
% author: alec aivazis

\documentclass[{% .ExtraConfig %} border=1pt]{standalone}

\usepackage{feynman}

\begin{document}
{% .Content %}
\end{document}


% end of file
