@import 'axis'

#overlayGutter
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 999
  height: 100%
  width: 100%
  display: table
  text-align: center
  background: rgba(69, 69, 69, 0.8)

#overlay
  display: table-cell
  vertical-align: middle
  overflow: hidden

#overlayContent
  color: black
  background: white
  text-align: left
  border-radius: 10px
  display: inline-block
  box-shadow: 0px 0px 4px #525252
  width: 70%

  // feynman styling
  text-align: center
