//-*- Jade -*-
//-*- coding: utf-8 -*-
//
// Alec Aivazis <alec@aivazis.com>
// 
// (c) 2014-2015 all rights reserved
//


doctype html
html
    head
        block head
            title Draw Feynman Diagram Online
            meta(name="application-name" content="The Online Feynman Diagram Tool")
            meta(name="author" content="Alec Aivazis")
            meta(name="description" content="Create beautiful, publication-ready Feynman diagrams in your browser with this easy to use online drawing tool. You can control every visual aspect of the diagram - even embed LaTeX labels with intuitive wrappers around common/custom commands! The last application you'll need for designing beautiful Feynman Diagrams.")
            meta(name="keyword" content="physics, diagram, svg, feynman, high energy physics, web based, graphics, GUI ")
            meta(name="viewport" content="width=device-width, initial-scale=1")


        block css

        block js


    body(ng-app="feynman")
        block content

        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-60720365-1', 'auto');
          ga('send', 'pageview');



//- end of file