html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/static/styles/reset.css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
        script(src="https://use.fonticons.com/92e409c4.js")
    body
        #app
        script(src="/static/client.js", type="text/javascript")
